__pycache__/
*.py[cod]
.venv/
venv/
.env
.DS_Store
*.egg-info/
.pytest_cache/
.mypy_cache/
data/
ml/artifacts/
*.parquet
*.csv
.idea/
.vscode/
spark-warehouse/
metastore_db/
derby.log
locust_report.html
services/api/models/*.json
services/api/models/*.joblib
